langchain
langchain_openai
langgraph
pymilvus
pymysql
fastapi
uvicorn
python-dotenv
requests
langsmith
langchain_elasticsearch
elasticsearch
langchain_milvus
langchain_community
langchain_text_splitters
dashscope